html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #141414;
    overflow: scroll;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #141414;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    opacity: 0.9;
}

.nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin-bottom: 32px;
    cursor: pointer;
}

.nav__logo {
    font-weight: 600;
}

.dark {
    color: #fff;
}

.darkmode {
    background-color: #292c35;
    color: #fff;
}

.nav__toggle, .nav__apple {
    font-size: 21px;
    cursor: pointer;    
}

/*= SHOW MENU =*/
.show {
    left: 0;
}

/*= ACTIVE LINK =*/
.active {
    position: relative;
}

/*= HOME =*/
.home {
    background-color: #f2f2f2;
    overflow: hidden;
}

.nav-logo {
    color: #fff;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    max-width: 1024px;
    display: grid;
    column-gap: 52px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

.nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .nav {
        height: calc(3rem + 1.5rem);
    }
    .nav__menu {
        margin-left: auto;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: 48px;
        margin-bottom: 0;
        color: #fff;
    }
}

.checkbox {
    opacity: 0;
}

label {
    height: 26px;
    width: 60px;
    display: flex;
    position: relative;
    background-color: #111;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: 20px;
}

.checkbox:checked + .label .ball {
    transform: translateX(36px);
}

.bxs-moon {
  color: #f1c40f;
}

.bxs-sun {
    color: #f39c12;
}

.ball {
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    transition: 0.25s;
}

@media screen and (max-width: 768px) {
    .nav__apple {
        margin-right: 30px;
    }
    .checkbox {
        margin-right: 80px;
    }
    .nav__item {
        color: #fff;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 47px;
        left: -100%;
        width: 70%;
        height: 20vh;
        padding: 20px;
        background-color: #141414;
        color: #fff;
        transition: 0.25s;
    }
}

/*= SHOW MENU =*/
.show {
    left: 0;
}

.main {
    justify-content: center;
    margin: 10px 50px 10px 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 100px; 
}

.param {
    line-height: 1.8;
    font-weight: 600;
}

p {
    font-weight: 600;
}

h1 {
    font-weight: 800;
}

.most-famous {
    width: 100%;
    display: flex;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}

img {
    width: 420px;
    margin-top: 10px;
    margin-bottom: 48px;
}

h3 {
    text-align: center;
}

.nav__item::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.nav__item:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.most-famous {
    position: relative;
    text-align: center;
    font-size: 32px;
    margin: 10px 0;
}

.row {
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.famous-product {
    flex: 1 1 250px;
    max-width: 300px;
    padding: 20px 10px;
    margin: 20px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.4s;
    cursor: pointer;
}

.famous-product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(1.09);
}

img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .main {
        margin: 10px 10px 10px 10px;
        padding: 40px;
    }
    .most-famous {
        font-size: 20px;
    }
    #readMore {
        margin-left: 35%;
    }
}

h3 {
    margin-top: 10px;
    margin-left: 45%;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #141414;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

#more {
    display: none;
}

.btnToggle {
    background-color: #fff;
    color: #141414;
    font-weight: 700;
}
